.last {
    width: 100%;
    height: 25vw;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: bottom;
    bottom: 0;
    color: white;
    background: #16222a;
    background: -webkit-linear-gradient(to left, #05293b, #16222a);
    background: linear-gradient(to left, #05293b, #16222a);
}

.lastmid {
    width: 100%;
    height: 21vw;
    display: flex;
}

.lastleft {
    width: 50%;
    height: 21vw;
    padding: 3vw;
}

.lastright {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 2vw;
    height: 21vw;
}

.lastbot {
    width: 100%;
    height: 4vw;
}

.lastleft img {
    margin-right: 0.8vw;
}

.llh1 {
    font-family: 'Raleway';
    font-size: 1.6vw;
    margin-bottom: 1vw;
    color: #fd9b9b;
    font-weight: 600;
}

.lld1,
.lld2,
.lld3 {
    margin-bottom: 0.5vw;
    font-size: 1.05vw;
    margin-left: 3vw;
}

.llh2 {
    margin-top: 1.5vw;
    font-size: 1.05vw;
}

.llh3 {
    margin-top: 1vw;
    font-size: 1.05vw;
}

.lrh {
    width: 100%;
    height: 3vw;
    font-size: 1.4vw;
    display: flex;
    align-items: center;
    justify-content: right;
    color: white;
    padding-right: 3vw;
    font-family: 'Raleway' !important;
    font-weight: 600;
}

.lri {
    height: 3vw;
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 2vw;
    justify-content: right;
}

.lri a {
    margin: 0vw 0.7vw;
    opacity: 0.77;
}

.lastbot {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9vw;
}

.fbi {
    width: 1.8vw;
    transition: transform 0.2s ease;
}

.fbi2 {
    width: 1.4vw;
}

.fbi:hover {
    transform: scale(1.2);
}

.smi {
    position: relative;
    right: -38vw;
    opacity: 0.8;
}

.collegeMail {
    font-size: 1.2vw;
    margin-top: 0.5vw;
    margin-left: 2.2vw;
}