.sixth {
    width: 100%;
    height: 46vw;
    background-image: url('../img/aaaaaa.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
}

.sixhead {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 6vw;
    font-size: 2.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend', sans-serif;
    color: white;
}

.sixhead2 {
    width: 100%;
    font-family: 'Lexend', sans-serif;
    display: flex;
    margin-top: 0.67vw;
    font-size: 1.2vw;
    color: white;
    justify-content: center;
    align-items: center;
}

.sixcontainer {
    width: 100%;
    height: 37vw;
    display: flex;
}

.red {
    color: #ff5d5d;
}

.map {
    border-right: 1px solid rgba(255, 255, 255, 0.226);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 7vw;
}

iframe {
    opacity: 0.6;
    border-radius: 4px;
    box-shadow: 0px 9px 20px 3px black;
    width: 30vw;
    height: 30vw;
}

.form {
    font-family: 'Lexend', sans-serif;
    padding: 4vw 0vw 5vw 5vw;
}

.na {
    width: 100%;
}

textarea,
input {
    font-family: 'Lexend', sans-serif;
    background-color: rgba(255, 255, 255, 0.053);
    backdrop-filter: blur(3px);
    border: 0px solid;
    color: white;
    border: 0.5px solid rgba(255, 255, 255, 0.4212);
    outline: none;
    width: 100%;
    padding-left: 1.3vw;
    border-radius: 4px;
}

.bttn {
    color: white;
    background-color: #ff6262ad;
    width: 10vw;
    height: 2.6vw;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.2vw;
    font-size: 1vw !important;
    z-index: 8;
}

.bttn:hover {
    scale: 1.1;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.bttn:active {
    border: 1px solid black;
}

.na,
.em,
.su,
.mess {
    width: 25.37vw;
    font-size: 1vw;
}

input {
    height: 3vw;
    margin: 0.5vw 0vw;
    font-size: 1vw;
}

textarea {
    margin: 0.5vw 0vw;
}

::placeholder {
    color: rgba(255, 255, 255, 0.78);
}

.contactUs {
    position: absolute;
    writing-mode: vertical-rl;
    left: -1vw;
    font-family: 'Tilt Warp', cursive;
    font-size: 9.1vw;
    color: #ffffff28;
    text-shadow: -2px 1px 30px #2121214f;
    transform: rotate(180deg);
    user-select: none;
}